html{
	-webkit-tap-highlight-color:rgba( 0, 0, 0, 0 );
}

body{
	-ms-text-size-adjust:     100%;
	-webkit-text-size-adjust:   none;
	background-color:     #ffffff;
	margin:           0px;
	padding:          0px;
	position:         relative;
	@include subpixel( off );
}

img{
	border:           0px;
	display:          block;
	outline:          none;
}

*{
	border:           0px;
	margin:           0px;
	outline:          none;
	padding:          0px;
}

ul{
	list-style-position:      inside;
}

textarea{
	resize:                   none;
	-webkit-appearance:       none;
}

input,
textarea,
select{
	border-radius:        0 0 0 0;
	box-shadow:         0 0 0 0;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="number"]{
	-webkit-appearance:       none;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing:         border-box;
	padding:          0;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:       none;
}
div, section, textarea, input, a{
	box-sizing: border-box;
}

:focus{
	outline:                  none;
}

::-moz-focus-inner{
	border:                       0;
}

::selection{
	background:               #000000;
	color:                        #ffffff;
}

::-moz-selection{
	background:               #000000;
	color:                        #ffffff;
}

:-moz-ui-invalid:not(output){
	box-shadow:                   none;
}

article, aside, figcaption, figure, footer, header, hgroup, nav, section, time, video, main, q{
	display:                  block;
}

button{
	cursor:                   pointer;
}

